.title{
  background-color: rgba(212, 85, 85, 0.747);
  text-align: center;
  padding: 0.009em;
  margin: 1em;
}
.title a{
  text-decoration: none;
  color: black;
}

.div-master{
  background-color: rgba(212, 85, 85, 0.747);
  padding: 1em;
  margin: 3em;
  position: fixed;
  height: 340px;
  width: 1225px;
  
}

.div-master img{
  position: relative;
  left: 400px;
  
}

.div-master2{
  background-color: rgba(212, 85, 85, 0.747);
  position: fixed;
  padding: 1em;
  margin: 3em;
  top: 495px;
  height: 60px;
  width: 1225px;
  text-align: end;
}



body{
  background-color: rgb(160, 47, 47);
}


.button {
  position: absolute;
  
  top: 100px;
  
}
.button li {
  display: inline;
}

.button li a {
  font-family: Arial;
  font-size: 11px;
  text-decoration: none;
  float: left;
  padding: 10px;
  
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}

.menu ul{
  background-color: rgba(212, 85, 85, 0.747);
  padding-left: 412px;
  padding-right: 435px;
  position: absolute;
  left: 40px;
}


.button li a:hover {
  background-color: #2586d7;
  color: rgb(255, 255, 255);
  margin-top: -2;
  padding-bottom: 12px;]
}
